{% extends 'base.html.twig' %}

{% block title %}Commentaire {{ comment.id }} · {{ comment.post.title }} · Blog{% endblock %}

{% block body %}
    <div class="body-content">
        <h1>Commentaire {{ comment.id }}</h1>
        <h2 class="text-center mb-2">{{ comment.post.title }}</h2>

        {{ include('comment/_comment.user.html.twig') }}

        <a href="{{ path('comment_admin_index', {'id': comment.id}) }}">Retour à la liste</a>

        {{ include('comment/_delete_form.html.twig') }}
    </div>
{% endblock %}
