{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} · Blog{% endblock %}

{% block body %}
    <div class="body-content">
        <h1>Category</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ category.name }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('') }}">Retour</a>

        <a href="{{ path('category_admin_edit', {'id': category.id}) }}">edit</a>

        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
